<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MIRO2018</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="/img/miro-favicon.jpg" type="image/x-icon">
    </head>
    <body class=" ">
        <a id="start"></a>
        <section class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bar__module">
                            <span class="type--fade">MIRO | Modern Industrial Revolutionist Orgnization</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!--end bar-->
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href='/'>
                                <img class="logo logomiro" alt="logo" src="/img/logomiro.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="followBtn--xs btn--xsCu btn--primary type--uppercase" href="#topOfApply">
                                <span class="btn__text">
                                    Apply
                                </span>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href='/'>
                                    <img class="logo logomiro" alt="logo" src="/img/logomiro.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module" id='bt'>
                                <a class="followBtn btn--sm btn--primary type--uppercase" href="#topOfApply">
                                    <span class="btn__text">
                                        Apply Now
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <!-- 탑버튼 -->
        <button onclick="topFunction()" class='logo myBtn' id="tttt" title="Go to top" ><img src="/img/gototop.png" width="50" height="50" /></button>

        <div class="main-container">
          <section id="sector1">
            <!-- 메인화면: 당신과 지나는 미로,검색창디자인 -->
            <div class="container">
              <div class="row">
                <!-- <div class="col-sm-12">
                  <img alt="logo-hor" class="logo-cu" src="/img/miro-logo_hor.png" style="position:center;" />
                  <br /><br />
                </div>
                <div class="col-sm-12-cu" style="background: url("/img/miro-searchform.png") ">
                  <h2>당신과 지나는 미로</h2>
                  <img alt="search" class="searchform-cu" src="/img/miro-searchform.png" style="" />
                </div> -->
                <img alt="logo-hor" class="logo-cu" src="/img/miro-logo_hor.png" style="position:center;" />
                <br />
                <div class="imagebg">
                	<div class="background-image-holder">
                		<img alt="background" src="/img/miro-searchform2.png" />
                	</div>
                  <div class="typed-headline">
	                   <span class="h2 inline-block typed-text typed-text--cursor color--primary-cu" data-typed-strings="당신과 지나는 '美路'"></span>
                  </div>
                </div>

          </section>
          <section id="sector2">
            <!-- 미로의 소개: 로고, 소속, 위치, 연락처 등 -->
            <!-- <div class="container">
              <div class="logo-show">
                <img alt="mainlogo" src="/img/logomiro.png" />
              </div>
            </div> -->
            <!--end of container-->
            <section class="switchable">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <div class="map-container border--round" data-maps-api-key="AIzaSyBiyghLva_mJTotXNLx3VUdh5DK3tekqg4" data-address="35.887511, 128.611687" data-marker-title="IT2호관 244호" data-map-style="[{&quot;featureType&quot;:&quot;landscape&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFBB00&quot;},{&quot;saturation&quot;:43.400000000000006},{&quot;lightness&quot;:37.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FFC200&quot;},{&quot;saturation&quot;:-61.8},{&quot;lightness&quot;:45.599999999999994},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:51.19999999999999},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;road.local&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#FF0300&quot;},{&quot;saturation&quot;:-100},{&quot;lightness&quot;:52},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#0078FF&quot;},{&quot;saturation&quot;:-13.200000000000003},{&quot;lightness&quot;:2.4000000000000057},{&quot;gamma&quot;:1}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#00FF6A&quot;},{&quot;saturation&quot;:-1.0989010989011234},{&quot;lightness&quot;:11.200000000000017},{&quot;gamma&quot;:1}]}]" data-map-zoom="17"></div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                          <div class="switchable__text">
                              <h3>경북대학교 IT2호관 244호</h3>
                              <p class="lead">
                                Kakao ID: miro2018 <br />
                                Phone: 010-8524-0011(회장)<br />
                                &emsp;&emsp;&emsp;&ensp;010-6207-7569(부회장) <br />
                                E-mail: iymg1234@naver.com(회장)<br />
                                &emsp;&emsp;&emsp;&ensp;mmmm@mmmm.mmmm(부회장)
                              </p>
                              <p class="lead">
                                문의사항이 있으시면 언제든지 방문 또는 연락주세요.
                              </p>
                          </div>
                        </div>
                    </div>
                      <!--end of row-->
                </div>
                  <!--end of container-->
            </section>
          </section>
          <section id="sector3">
            <!-- 운영방식1: 모이는 날짜, 교육과정, 과제 -->
          </section>
          <section id="sector4">
            <!-- 운영방식2: 팀구조(4인1조 1멘토 1디자이너) -->
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <img alt="miro-org" src="/img/miro-organization.png" />
                </div>
              </div>
            </div>
          </section>
          <section id="sector5">
            <!-- web/app -->
          </section>
          <section id="sector6">
            <!-- IoT/AI -->
          </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img alt="pic" src="/img/art-2.jpg" />
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Streamline Your Workflow</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Build perfect pages, easy as pie.</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="image" src="/img/recruitment-4.jpg" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                            <span>Variant Page Builder &mdash; used by over
                                <strong>17,000</strong> customers
                                <a target="_blank" href="#">Try Now &nearr;</a>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-5">
                            <ol class="process-3">
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Launch Variant Page Builder</h4>
                                        <p>
                                            Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out.
                                        </p>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Build with interface blocks</h4>
                                        <p>
                                            Select from over 290 interface blocks, customise the look to build your perfect page.
                                        </p>
                            <section class="hidden">
            </section>                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Export as pure HTML</h4>
                                        <p>
                                            Download your page as a semantic HTML document and easily make further customisations and additions in your editor.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--sm unpad--bottom switchable text-center testimonial testimonial-1 bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <img alt="Image" src="/img/avatar-large-1.png" />
                        </div>
                        <div class="col-sm-6">
                            <div class="switchable__text">
                                <blockquote>
                                    &ldquo;There's a feeling of structure that you can't find in other templates &mdash; Stack has become my default template.&rdquo;
                                </blockquote>
                                <h5>Jason Briggs</h5>
                                <span>Envato Customer</span>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <div id="topOfApply"></div>
            <section id="sector7">
              <!-- 지원페이지: -->
              
                <!--end of container-->
            </section>
            <section class=" " id="sector8">
              <!-- footer 바로위 : 언어 링크걸기 -->
                <div class="container">
                    <div class="row">
                        <div class="slider slider--columns" data-arrows="true" data-paging="true" data-children="6">
                            <ul class="slides flickity-enabled is-draggable" tabindex="0">
                              <div class="flickity-viewport"><div class="flickity-slider" style="left: 0px; transform: translate3d(-133.32%, 0px, 0px);">
                                  <li class="col-sm-4 col-xs-6 slide" style="position: absolute;">
                                    <a href="https://www.tensorflow.org/">
                                        <img alt="tensorflow" src="img/Tensorflow.png">
                                    </a>
                                  </li>
                                  <li class="col-sm-4 col-xs-6 slide" style="position: absolute;">
                                    <a href="https://nodejs.org/ko/" >
                                        <img alt="nodejs" src="img/Nodejs.png">
                                    </a>
                                  </li>
                                  <li class="col-sm-4 col-xs-6 slide" style="position: absolute;">
                                    <a href="https://www.python.org/" >
                                        <img alt="python" src="img/Python.png">
                                    </a>
                                  </li>
                                  <li class="col-sm-4 col-xs-6 slide" style="position: absolute;">
                                    <a href="https://reactjs.org/" >
                                        <img alt="react" src="img/React.png">
                                    </a>
                                  </li>
                                  <li class="col-sm-4 col-xs-6 slide" style="position: absolute;">
                                    <a href="https://facebook.github.io/react-native/" >
                                        <img alt="reactnative" src="img/ReactNative.png">
                                    </a>
                                  </li>
                                  <li class="col-sm-4 col-xs-6 slide" style="position: absolute;">
                                    <a href="https://redux.js.org/" >
                                        <img alt="redux" src="img/Redux.png">
                                    </a>
                                  </li>
                            </div>
                          </div>
                          <button class="flickity-prev-next-button previous" type="button" aria-label="previous"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button>
                          <button class="flickity-prev-next-button next" type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
                                <ol class="flickity-page-dots">
                                </ol>
                            </ul>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="space--sm footer-1 text-center-xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img alt="Image" class="logo" src="/img/logomiro.png" />
                            <span class="type--fine-print">&copy;
                                MIRO<span class="update-year"></span></span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->

<!--탑버튼 지원버튼사라지게해여 -->
        <script>
                window.onscroll = function() {scrollFunction(); scrollFunction2();}
                function scrollFunction() {
            if (document.body.scrollTop > 5100|| document.documentElement.scrollTop > 5100) {
                document.getElementById("bt").style.display = "none";
            } else {
                document.getElementById("bt").style.display = "block";
            }
            }

                // When the user scrolls down 20px from the top of the document, show the button

                function scrollFunction2() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("tttt").style.display = "block";
                    } else {
                        document.getElementById("tttt").style.display = "none";
                    }
                }


                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
                </script>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>

    </body>
</html>
