<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MIRO2018</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class=" ">
        <a id="start"></a>
        <section class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bar__module">
                            <span class="type--fade">MIRO | Modern Industrial Revolutionist Orgnization</span>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!--end bar-->
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href='/'>
                                <img class="logo logomiro" alt="logo" src="logomiro.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="followBtn--xs btn--xsCu btn--primary type--uppercase" href="#topOfApply">
                                <span class="btn__text">
                                    Apply
                                </span>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href='/'>
                                    <img class="logo logomiro" alt="logo" src="logomiro.png" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <a class="followBtn btn--sm btn--primary type--uppercase" href="#topOfApply">
                                    <span class="btn__text">
                                        Apply Now
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">
            <section class="text-center">
                <div class="container">
                  <div class="logo-show">
                    <img alt="mainlogo" src="logomiro.png" />
                  </div>
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img alt="pic" src="art-2.jpg" />
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Streamline Your Workflow</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" src="art-3.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-5">
                            <div class="switchable__text">
                                <h2>Perfect for design-concious startups and companies</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                                <a href="#">Learn More &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch feature-large">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" src="art-4.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-5 col-md-offset-1">
                            <div class="switchable__text">
                                <h2>Robust, detailed design
                                    <br class="hidden-xs hidden-sm" />from pixel to code</h2>
                                <p class="lead">
                                    Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
                                </p>
                                <a href="#">Learn More &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Build perfect pages, easy as pie.</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="image" src="recruitment-4.jpg" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                            <span>Variant Page Builder &mdash; used by over
                                <strong>17,000</strong> customers
                                <a target="_blank" href="#">Try Now &nearr;</a>
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-5">
                            <ol class="process-3">
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Launch Variant Page Builder</h4>
                                        <p>
                                            Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out.
                                        </p>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Build with interface blocks</h4>
                                        <p>
                                            Select from over 290 interface blocks, customise the look to build your perfect page.
                                        </p>
                            <section class="hidden">
            </section>                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Export as pure HTML</h4>
                                        <p>
                                            Download your page as a semantic HTML document and easily make further customisations and additions in your editor.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space--sm unpad--bottom switchable text-center testimonial testimonial-1 bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <img alt="Image" src="avatar-large-1.png" />
                        </div>
                        <div class="col-sm-6">
                            <div class="switchable__text">
                                <blockquote>
                                    &ldquo;There's a feeling of structure that you can't find in other templates &mdash; Stack has become my default template.&rdquo;
                                </blockquote>
                                <h5>Jason Briggs</h5>
                                <span>Envato Customer</span>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <div id="topOfApply"></div>
            <section>
                <div class="container">
                  <div class="col-md-8-cu">
                      <div class="boxed boxed--lg boxed--border">
                          <div id="account-profile" class="account-tab">
                              <h4>동아리 지원 신청서</h4>
                              <form action="/applyMiro" method="post">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <label>이름:</label>
                                          <input type="text" name="name" id="userName" required/>
                                      </div>
                                      <div class="col-sm-6">
                                          <label>학년:(1~4)</label>
                                          <input type="number" name="grade" id="userGrade" min="1" max="4" required/>
                                      </div>
                                      <div class="col-sm-6">
                                          <label>학과:</label>
                                          <input type="text" name="major" id="userMajor" required/>
                                      </div>
                                      <div class="col-sm-6">
                                          <label>학번:</label>
                                          <input type="number" name="studentnumber" id="userStudentnumber" required/>
                                      </div>
                                      <div class="col-sm-6">
                                          <label>전화번호:(하이픈없이 작성해주세요.)</label>
                                          <input type="number" name="phonenumber" id="userPhonenumber" required/>
                                      </div>
                                      <div class="col-sm-12">
                                          <label>지원동기:</label>
                                          <textarea rows="4" name="motive" placeholder="꼭 작성하셔야합니다. 선별여부에 영향있음." id="userMotive" required></textarea>
                                      </div>
                                      <div class="col-sm-6">
                                        <button type="submit" class="btn btn--primary">지원하기</button>
                                      </div>
                                  </form>
                                    <div class="col-sm-6">
                                      <button type="submit" class="btn btn--primary" onclick="checkingApply()">지원확인</button>
                                    </div>
                                  </div>
                          </div>
                      </div>
                  </div>
                </div>
                <!--end of container-->
            </section>
            <footer class="space--sm footer-1 text-center-xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <span>Our Company</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Locations</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Work With Us</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <img alt="Image" class="logo" src="logomiro.png" />
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Stack Inc.</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->

        <% if(boolean == true) { %>
          <script type="text/javascript">
          alert('이미 신청 완료 되었습니다.');
          </script>
        <% } %>

        <% if(checkResult == 1) { %>
          <script type="text/javascript">
          alert('신청 완료 되었습니다. 관심을 가져 주셔서 감사합니다.');
          window.close();
          </script>
        <% } %>

        <% if(checkResult == 2) { %>
          <script type="text/javascript">
          alert('신청되지 않았습니다.');
          window.close();
          </script>
        <% } %>

        <script>
          function checkingApply(){
            window.open('checkingApply','_blank','width:400px, height:400px');
          }
        </script>

    </body>
</html>
