/*! Place your custom styles here */

.col-md-8-cu{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.followBtn{
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 6px;
  padding-top: 0.46428571em;
  padding-bottom: 0.46428571em;
  padding-right: 2.78571429em;
  padding-left: 2.78571429em;
  border: 1px solid #59b7db;
  border-width: 1px;
  font-size: inherit;
  line-height: 1.85714286em;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 10;
} /* 따라다니는 버튼 */

.followBtn--xs{
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 6px;
  padding-top: 0.46428571em;
  padding-bottom: 0.46428571em;
  border-width: 1px;
  font-size: inherit;
  line-height: 1.85714286em;
  position: fixed;
  top: 43.375px;
  right: 5%;
  z-index: 10;
} /* 따라다니는 버튼 */

.btn--xsCu {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px;
  padding-left: 5px;
  position: fixed;
  top: 43.375px;
  right: 5%;
  z-index: 10;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo-cu{
  width: 50%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchform-cu{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.col-sm-12-cu{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-image:
}

@media (max-width:767px) {
  .word-cu{
    position: absolute;
    top: 50%;
    margin-left: 21%;
    font-size: 70%;
  }
}

@media (min-width:768px) and (max-width: 1199px){
  .word-cu{
    position: absolute;
    top: 50%;
    margin-left: 15%;
    font-size: 82%;
  }
}

.word-cu{
  font-family: 'NanumBarunGothic'
  font-size: 2.35714286em;
  position: absolute;
  top: 50%;
  margin-left: 21%;
  transform: translate(-50%, -50%);
}

.col-sm-12-cu {
  width: 100%;
}

.background-image-holder-cu {
  width: 100%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  opacity: 1;
}

.container-cu {
    position: relative;
    text-align: center;
    color: black;
    font-size: 30px;
}
.myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;

  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  max-height: 1.85714286em;
  max-width: none;
}
